USE [master]
GO
/****** Object:  Database [AutomationAppDb]    Script Date: 10/1/2026 4:54:45 PM ******/
CREATE DATABASE [AutomationAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutomationAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutomationAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutomationAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutomationAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutomationAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutomationAppDb]
GO
/****** Object:  Table [dbo].[ApiTests]    Script Date: 10/1/2026 4:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiTests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Curl] [nvarchar](max) NOT NULL,
	[HttpMethod] [nvarchar](10) NULL,
	[Extractors] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ApiTests] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseFeedback]    Script Date: 10/1/2026 4:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseFeedback](
	[FeedbackId] [bigint] IDENTITY(1,1) NOT NULL,
	[CaseId] [bigint] NOT NULL,
	[TestId] [int] NOT NULL,
	[Verdict] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CaseFeedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupVariables]    Script Date: 10/1/2026 4:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupVariables](
	[GroupId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[JsonValue] [nvarchar](max) NULL,
	[SourceTestId] [int] NULL,
	[SourceRunId] [bigint] NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GroupVariables] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RunCases]    Script Date: 10/1/2026 4:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunCases](
	[CaseId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [bigint] NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Method] [nvarchar](10) NULL,
	[Body] [nvarchar](max) NULL,
	[RemoveHeaders] [nvarchar](max) NULL,
	[ExpectedStatus] [int] NULL,
	[ActualStatus] [int] NULL,
	[TimeMs] [int] NOT NULL,
	[Passed] [bit] NOT NULL,
	[RequestJson] [nvarchar](max) NULL,
	[ResponseHeaders] [nvarchar](max) NULL,
	[ResponseBody] [nvarchar](max) NULL,
	[Origin] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_RunCases] PRIMARY KEY CLUSTERED 
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestGroups]    Script Date: 10/1/2026 4:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestGroups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TestGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestRuns]    Script Date: 10/1/2026 4:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestRuns](
	[RunId] [bigint] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[Outcome] [nvarchar](20) NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[FinishedAt] [datetime2](7) NULL,
	[BaselineStatus] [int] NULL,
	[PassedCount] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[DurationMs] [int] NOT NULL,
	[GroupRunId] [bigint] NULL,
 CONSTRAINT [PK_TestRuns] PRIMARY KEY CLUSTERED 
(
	[RunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ApiTests_Group_Name]    Script Date: 10/1/2026 4:54:46 PM ******/
ALTER TABLE [dbo].[ApiTests] ADD  CONSTRAINT [UQ_ApiTests_Group_Name] UNIQUE NONCLUSTERED 
(
	[GroupId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApiTests] ADD  CONSTRAINT [DF_ApiTests_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ApiTests] ADD  CONSTRAINT [DF_ApiTests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApiTests] ADD  CONSTRAINT [DF_ApiTests_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[CaseFeedback] ADD  CONSTRAINT [DF_CaseFeedback_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupVariables] ADD  CONSTRAINT [DF_GroupVariables_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RunCases] ADD  CONSTRAINT [DF_RunCases_Time]  DEFAULT ((0)) FOR [TimeMs]
GO
ALTER TABLE [dbo].[RunCases] ADD  CONSTRAINT [DF_RunCases_Passed]  DEFAULT ((0)) FOR [Passed]
GO
ALTER TABLE [dbo].[RunCases] ADD  CONSTRAINT [DF_RunCases_Origin]  DEFAULT ('generated') FOR [Origin]
GO
ALTER TABLE [dbo].[TestGroups] ADD  CONSTRAINT [DF_TestGroups_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TestGroups] ADD  CONSTRAINT [DF_TestGroups_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TestRuns] ADD  CONSTRAINT [DF_TestRuns_Outcome]  DEFAULT ('completed') FOR [Outcome]
GO
ALTER TABLE [dbo].[TestRuns] ADD  CONSTRAINT [DF_TestRuns_StartedAt]  DEFAULT (sysutcdatetime()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[TestRuns] ADD  CONSTRAINT [DF_TestRuns_Passed]  DEFAULT ((0)) FOR [PassedCount]
GO
ALTER TABLE [dbo].[TestRuns] ADD  CONSTRAINT [DF_TestRuns_Total]  DEFAULT ((0)) FOR [TotalCount]
GO
ALTER TABLE [dbo].[TestRuns] ADD  CONSTRAINT [DF_TestRuns_Duration]  DEFAULT ((0)) FOR [DurationMs]
GO
ALTER TABLE [dbo].[ApiTests]  WITH CHECK ADD  CONSTRAINT [FK_ApiTests_TestGroups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[TestGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApiTests] CHECK CONSTRAINT [FK_ApiTests_TestGroups]
GO
ALTER TABLE [dbo].[CaseFeedback]  WITH CHECK ADD  CONSTRAINT [FK_CaseFeedback_RunCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[RunCases] ([CaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CaseFeedback] CHECK CONSTRAINT [FK_CaseFeedback_RunCases]
GO
ALTER TABLE [dbo].[GroupVariables]  WITH CHECK ADD  CONSTRAINT [FK_GroupVariables_TestGroups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[TestGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupVariables] CHECK CONSTRAINT [FK_GroupVariables_TestGroups]
GO
ALTER TABLE [dbo].[RunCases]  WITH CHECK ADD  CONSTRAINT [FK_RunCases_TestRuns] FOREIGN KEY([RunId])
REFERENCES [dbo].[TestRuns] ([RunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RunCases] CHECK CONSTRAINT [FK_RunCases_TestRuns]
GO
ALTER TABLE [dbo].[TestRuns]  WITH CHECK ADD  CONSTRAINT [FK_TestRuns_ApiTests] FOREIGN KEY([TestId])
REFERENCES [dbo].[ApiTests] ([TestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestRuns] CHECK CONSTRAINT [FK_TestRuns_ApiTests]
GO
USE [master]
GO
